body {
    display: flex;
    justify-content: center;
}

select {
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: white;
    color: #333;
}

option {
    padding: 10px;
    font-size: 16px;
}